<!-- navbar component -->
<div class="container-index-show">
  <div class="d-flex justify-content-end">
    <div class="form-inline pt-2 pb-2 mt-2 mb-2">
      <input type="text" class="form-control mr-sm-2" placeholder='1234 Main St'>
      <button type="submit" class="btn btn-success ">Search</button>
    </div>
  </div>
  <div class="cards">
    <% @tents.each do |tent| %>
      <%= link_to tent_path(tent) do %>
        <div class="card shadow">
          <%= cl_image_tag tent.photo, height: 250, width: 400, crop: :fill, class:"card-img-top" %>
          <div class="card-body">
            <p class="card-text"> <%= tent.address %></p>
            <h5 class="card-title"><%= tent.title %></h5>
            <div class="d-flex justify-content-between">
              <div>
                <% 5.times do %>
                  <i class="fas fa-star mr-0"></i>
                <% end %>
              </div>
              <p class="card-text"> <%= tent.price %>/$</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!-- upload photo
carrousel JS
make card look nicer
add search -->
