<div class="container">
  <div class="row pt-4">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center my-3">List My Tent For Rent</h1>
      <%= simple_form_for @tent do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :price %>
        <%= f.button :submit, class: 'btn btn-primary mb-5 w-100' %>
      <% end %>
    </div>
  </div>
</div>
