<div class="container container-show">

  <div class="btn-return">
    <%= link_to "See All Tents", tents_path %>
  </div>
  <!-- navbar component -->
  <div
  id="map"
  style="width: 88%;
  height: 350px;
  margin-left: 80px;"
  class="shadow mt-3"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
  <div class="card-tent mb-3 shadow overlay" style="max-width: 1000px;">
    <div class="row no-gutters ">
      <div class="col-md-4">
        <%= cl_image_tag @tent.photo, crop: :fill, class: 'card-tent-img'%>
      </div>


      <div class="col-md-8 p-5" id="container-card-tent-infos">

        <div>
          <div class="card-body" id="card-tent-infos">
            <p class="card-text row mb-3"><%= @tent.address %></p> <!-- address -->
            <h2 class="card-title mb-3"><%= @tent.title%></h2> <!-- title -->
            <p class="card-text"><%= @tent.description%></p> <!-- description -->
          </div>

          <div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-tent-owner avatar-bordered">
          </div>


          <div class="d-flex justify-content-between px-3">
            <div>
              <% 5.times do %>
              <i class="fas fa-star mr-0"></i>
              <% end %>
            </div>
            <h3 class="card-tent-pricing">$<%= @tent.price %><p><small>/per day</small></p></h3>
          </div>

          <% if (current_user != @tent.user) %>
            <!-- RENDER FORM: new booking -->
            <div class="px-3">
              <%= render 'bookings/form', tent: @tent, booking: @booking %>
            </div>

          <% end %>
      </div>
    </div>
  </div>
</div>
</div>

